Python Programming Basic Assignment

Assignmrnt-1

In [ ]:
1.	Write a Python program to print "Hello Python"?

In [1]:
a = input("Enter Input: ")
print(a)

Enter Input: 45
45

In [ ]:
2.	Write a Python program to do arithmetical operations addition and division.?

In [2]:
a = int(input("Enter Num_1: "))
b = int(input("Enter Num_2: "))
ops = input("Enter Operation: ")
if ops == "addition":
    c = a+b
    print("addition is ",c)
elif ops == "division":
    d = a/b
    print("Division is ",d)
else:
    print("Enter correct operation")

Enter Num_1: 78
Enter Num_2: 56
Enter Operation: 56
Enter correct operation

In [3]:
a = int(input("Enter Num_1: "))
b = int(input("Enter Num_2: "))
ops = input("Enter Operation: ")
if ops == "addition":
    c = a+b
    print("addition is ",c)
elif ops == "division":
    d = a/b
    print("Division is ",d)
else:
    print("Enter correct operation")

Enter Num_1: 78
Enter Num_2: 12
Enter Operation: 32
Enter correct operation

In [ ]:
3.	Write a Python program to find the area of a triangle?

In [4]:
def area_of_triangle(base,height):
    area = (base*height)/2
    print(area)
    
a = area_of_triangle(5,6)

15.0

In [ ]:
4.	Write a Python program to swap two variables?

In [5]:
x = input("Enter num_1: ")
print(x)
y = input("Enter num_2: ")
print(y)

temp = x
x = y
y = temp

print("{} and {} are new valuse of x and y respectively".format(x,y))

Enter num_1: 78
78
Enter num_2: 56
56
56 and 78 are new valuse of x and y respectively

In [ ]:
5.	Write a Python program to generate a random number?

In [6]:
import random
rndno = random.random()
print(rndno)

0.15768233840843582

Assignment-2

In [ ]:
1.	Write a Python program to convert kilometers to miles?

In [7]:
def km_to_miles(km):
    miles = km*0.621371
    print("{} km is equal to {}miles.".format(km,miles))

a = km_to_miles(500)

500 km is equal to 310.6855miles.

In [ ]:
2.	Write a Python program to convert Celsius to Fahrenheit?

In [8]:
def celsius_to_fahrenheit(C):
    fah = (C * 9/5) + 32
    print("{}°C is equal to {}°F".format(C,fah))
    
a = celsius_to_fahrenheit(10)

10°C is equal to 50.0°F

In [ ]:
3.	Write a Python program to display calendar?

In [9]:
import calendar
def display_calender(year,month):
    print(calendar.month(year,month))
a = display_calender(1998,7)

     July 1998
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [ ]:
4.	Write a Python program to solve quadratic equation?

In [10]:
# ax^2+bx+c=0
a = int(input("Enter num_1: "))
b = int(input("Enter num_2: "))
c = int(input("Enter num_3: "))

print("Quadratic Equation is: {}x^2+{}x+{}=0".format(a,b,c))

if a==0:
    print("a should not be equal to Zero")
else:
    r = b**2 - 4*a*c
    x1 = (((-b) + r**0.5)/(2*a))
    x2 = (((-b) - r**0.5)/(2*a))
    print("Two possible values of our quadratic equation are {} and {}".format(x1,x2))

Enter num_1: 45
Enter num_2: 89
Enter num_3: 23
Quadratic Equation is: 45x^2+89x+23=0
Two possible values of our quadratic equation are -0.30566848268252406 and -1.6721092950952539

In [ ]:
5.	Write a Python program to swap two variables without temp variable?

In [11]:
a = float(input("Enter variable_1: "))
b = float(input("Enter variable_2: "))

print('before swapping a = {} and b = {}'.format(a,b))

a = a+b
b = a-b
a = a-b

print('after swapping a = {} and b = {}'.format(a,b))

Enter variable_1: 45
Enter variable_2: 23
before swapping a = 45.0 and b = 23.0
after swapping a = 23.0 and b = 45.0

Assignment-3

In [ ]:
1.	Write a Python Program to Check if a Number is Positive, Negative or Zero?

In [13]:
def num_check(num):
    if type(num)==int or type(num)==float:
        if num>0:
            print("{} is a positive number".format(num))
        elif num<0:
            print("{} is a negative number".format(num))
        else:
            print("It's a Zero")
    else:
        print("Enter integer or float")

In [ ]:
a = num_check(3)

In [ ]:
2.	Write a Python Program to Check if a Number is Odd or Even?

In [14]:
def odd_even(num):
    if num == 0:
        print("Enter non-zero number")
    elif num % 2 == 0:
        print("Even number")
    else:
        print("Odd number")
        
a = odd_even(7)

Odd number

In [ ]:
3.	Write a Python Program to Check Leap Year?

In [15]:
def leap_year(year):
    if year % 4 == 0:
        print("It's a leap year")
    else:
        print("Not leap year")
        
a = leap_year(2020)

It's a leap year

In [ ]:
4.	Write a Python Program to Check Prime Number?

In [16]:
def prime(num):
    if num>1:
        for i in range(2,num):
            if num % i == 0:
                print("Its not a prime number")
                break
        else:
            print("it is prime number")
    else:
        print("Not prime")

In [ ]:
a = prime(300007)

In [ ]:
5.	Write a Python Program to Print all Prime Numbers in an Interval of 1-10000?

In [17]:
for num in range(1,10001):
    if num >1:
        for i in range(2, num):
            if num%i == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
1009
1013
1019
1021
1031
1033
1039
1049
1051
1061
1063
1069
1087
1091
1093
1097
1103
1109
1117
1123
1129
1151
1153
1163
1171
1181
1187
1193
1201
1213
1217
1223
1229
1231
1237
1249
1259
1277
1279
1283
1289
1291
1297
1301
1303
1307
1319
1321
1327
1361
1367
1373
1381
1399
1409
1423
1427
1429
1433
1439
1447
1451
1453
1459
1471
1481
1483
1487
1489
1493
1499
1511
1523
1531
1543
1549
1553
1559
1567
1571
1579
1583
1597
1601
1607
1609
1613
1619
1621
1627
1637
1657
1663
1667
1669
1693
1697
1699
1709
1721
1723
1733
1741
1747
1753
1759
1777
1783
1787
1789
1801
1811
1823
1831
1847
1861
1867
1871
1873
1877
1879
1889
1901
1907
1913
1931
1933
1949
1951
1973
1979
1987
1993
1997
1999
2003
2011
2017
2027
2029
2039
2053
2063
2069
2081
2083
2087
2089
2099
2111
2113
2129
2131
2137
2141
2143
2153
2161
2179
2203
2207
2213
2221
2237
2239
2243
2251
2267
2269
2273
2281
2287
2293
2297
2309
2311
2333
2339
2341
2347
2351
2357
2371
2377
2381
2383
2389
2393
2399
2411
2417
2423
2437
2441
2447
2459
2467
2473
2477
2503
2521
2531
2539
2543
2549
2551
2557
2579
2591
2593
2609
2617
2621
2633
2647
2657
2659
2663
2671
2677
2683
2687
2689
2693
2699
2707
2711
2713
2719
2729
2731
2741
2749
2753
2767
2777
2789
2791
2797
2801
2803
2819
2833
2837
2843
2851
2857
2861
2879
2887
2897
2903
2909
2917
2927
2939
2953
2957
2963
2969
2971
2999
3001
3011
3019
3023
3037
3041
3049
3061
3067
3079
3083
3089
3109
3119
3121
3137
3163
3167
3169
3181
3187
3191
3203
3209
3217
3221
3229
3251
3253
3257
3259
3271
3299
3301
3307
3313
3319
3323
3329
3331
3343
3347
3359
3361
3371
3373
3389
3391
3407
3413
3433
3449
3457
3461
3463
3467
3469
3491
3499
3511
3517
3527
3529
3533
3539
3541
3547
3557
3559
3571
3581
3583
3593
3607
3613
3617
3623
3631
3637
3643
3659
3671
3673
3677
3691
3697
3701
3709
3719
3727
3733
3739
3761
3767
3769
3779
3793
3797
3803
3821
3823
3833
3847
3851
3853
3863
3877
3881
3889
3907
3911
3917
3919
3923
3929
3931
3943
3947
3967
3989
4001
4003
4007
4013
4019
4021
4027
4049
4051
4057
4073
4079
4091
4093
4099
4111
4127
4129
4133
4139
4153
4157
4159
4177
4201
4211
4217
4219
4229
4231
4241
4243
4253
4259
4261
4271
4273
4283
4289
4297
4327
4337
4339
4349
4357
4363
4373
4391
4397
4409
4421
4423
4441
4447
4451
4457
4463
4481
4483
4493
4507
4513
4517
4519
4523
4547
4549
4561
4567
4583
4591
4597
4603
4621
4637
4639
4643
4649
4651
4657
4663
4673
4679
4691
4703
4721
4723
4729
4733
4751
4759
4783
4787
4789
4793
4799
4801
4813
4817
4831
4861
4871
4877
4889
4903
4909
4919
4931
4933
4937
4943
4951
4957
4967
4969
4973
4987
4993
4999
5003
5009
5011
5021
5023
5039
5051
5059
5077
5081
5087
5099
5101
5107
5113
5119
5147
5153
5167
5171
5179
5189
5197
5209
5227
5231
5233
5237
5261
5273
5279
5281
5297
5303
5309
5323
5333
5347
5351
5381
5387
5393
5399
5407
5413
5417
5419
5431
5437
5441
5443
5449
5471
5477
5479
5483
5501
5503
5507
5519
5521
5527
5531
5557
5563
5569
5573
5581
5591
5623
5639
5641
5647
5651
5653
5657
5659
5669
5683
5689
5693
5701
5711
5717
5737
5741
5743
5749
5779
5783
5791
5801
5807
5813
5821
5827
5839
5843
5849
5851
5857
5861
5867
5869
5879
5881
5897
5903
5923
5927
5939
5953
5981
5987
6007
6011
6029
6037
6043
6047
6053
6067
6073
6079
6089
6091
6101
6113
6121
6131
6133
6143
6151
6163
6173
6197
6199
6203
6211
6217
6221
6229
6247
6257
6263
6269
6271
6277
6287
6299
6301
6311
6317
6323
6329
6337
6343
6353
6359
6361
6367
6373
6379
6389
6397
6421
6427
6449
6451
6469
6473
6481
6491
6521
6529
6547
6551
6553
6563
6569
6571
6577
6581
6599
6607
6619
6637
6653
6659
6661
6673
6679
6689
6691
6701
6703
6709
6719
6733
6737
6761
6763
6779
6781
6791
6793
6803
6823
6827
6829
6833
6841
6857
6863
6869
6871
6883
6899
6907
6911
6917
6947
6949
6959
6961
6967
6971
6977
6983
6991
6997
7001
7013
7019
7027
7039
7043
7057
7069
7079
7103
7109
7121
7127
7129
7151
7159
7177
7187
7193
7207
7211
7213
7219
7229
7237
7243
7247
7253
7283
7297
7307
7309
7321
7331
7333
7349
7351
7369
7393
7411
7417
7433
7451
7457
7459
7477
7481
7487
7489
7499
7507
7517
7523
7529
7537
7541
7547
7549
7559
7561
7573
7577
7583
7589
7591
7603
7607
7621
7639
7643
7649
7669
7673
7681
7687
7691
7699
7703
7717
7723
7727
7741
7753
7757
7759
7789
7793
7817
7823
7829
7841
7853
7867
7873
7877
7879
7883
7901
7907
7919
7927
7933
7937
7949
7951
7963
7993
8009
8011
8017
8039
8053
8059
8069
8081
8087
8089
8093
8101
8111
8117
8123
8147
8161
8167
8171
8179
8191
8209
8219
8221
8231
8233
8237
8243
8263
8269
8273
8287
8291
8293
8297
8311
8317
8329
8353
8363
8369
8377
8387
8389
8419
8423
8429
8431
8443
8447
8461
8467
8501
8513
8521
8527
8537
8539
8543
8563
8573
8581
8597
8599
8609
8623
8627
8629
8641
8647
8663
8669
8677
8681
8689
8693
8699
8707
8713
8719
8731
8737
8741
8747
8753
8761
8779
8783
8803
8807
8819
8821
8831
8837
8839
8849
8861
8863
8867
8887
8893
8923
8929
8933
8941
8951
8963
8969
8971
8999
9001
9007
9011
9013
9029
9041
9043
9049
9059
9067
9091
9103
9109
9127
9133
9137
9151
9157
9161
9173
9181
9187
9199
9203
9209
9221
9227
9239
9241
9257
9277
9281
9283
9293
9311
9319
9323
9337
9341
9343
9349
9371
9377
9391
9397
9403
9413
9419
9421
9431
9433
9437
9439
9461
9463
9467
9473
9479
9491
9497
9511
9521
9533
9539
9547
9551
9587
9601
9613
9619
9623
9629
9631
9643
9649
9661
9677
9679
9689
9697
9719
9721
9733
9739
9743
9749
9767
9769
9781
9787
9791
9803
9811
9817
9829
9833
9839
9851
9857
9859
9871
9883
9887
9901
9907
9923
9929
9931
9941
9949
9967
9973

Assignment-4

In [ ]:
1.	Write a Python Program to Find the Factorial of a Number?

In [18]:
num = int(input("Enter number: "))
factorial = 1
if num<0:
    print("Factorial does not exist")
elif num==0:
    print("Factorial is 1")
else:
    for i in range(1,num+1):
        factorial = factorial*i
    print("Factorial of {} is {}".format(num, factorial))

Enter number: 78
Factorial of 78 is 11324281178206297831457521158732046228731749579488251990048962825668835325234200766245086213177344000000000000000000

In [ ]:
2.	Write a Python Program to Display the multiplication Table?

In [19]:
num = int(input("Enter number: "))

for i in range(1,11):
    product = num*i
    print("{} X {} = {}".format(num,i,product))

Enter number: 45
45 X 1 = 45
45 X 2 = 90
45 X 3 = 135
45 X 4 = 180
45 X 5 = 225
45 X 6 = 270
45 X 7 = 315
45 X 8 = 360
45 X 9 = 405
45 X 10 = 450

In [ ]:
3.	Write a Python Program to Print the Fibonacci sequence?

In [20]:
n = int(input("Enter desired length: "))
a = 0
b = 1
sum = 0
count = 1
print("Fibonacci Series: ", end = " ")
while(count <= n):
    print(sum, end = " ")
    count += 1
    a = b
    b = sum
    sum = a + b

Enter desired length: 45
Fibonacci Series:  0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733

In [ ]:
4.	Write a Python Program to Check Armstrong Number?

In [21]:
num = int(input("Enter number to check: "))
rem = 0
s = 0
temp = num
while temp>0:
    rem = temp%10
    s = s + rem**3
    temp = temp//10
if num==s:
    print("its armstrong number")
else:
    print("not armstrong number")

Enter number to check: 78
not armstrong number

In [ ]:
5.	Write a Python Program to Find Armstrong Number in an Interval?

In [22]:
lower = int(input("Enter lower limit of interval: "))
upper = int(input("Enter upper limit of interval: "))
print("Armstrong numbers in given interval are: ", end = " ")
for num in range(lower,upper+1):
    s = 0
    temp = num
    while temp>0:
        rem = temp%10
        s = s + rem**3
        temp = temp//10
        if num==s:
            print(num, end=" ")

Enter lower limit of interval: 10
Enter upper limit of interval: 23
Armstrong numbers in given interval are:

In [ ]:
6.	Write a Python Program to Find the Sum of Natural Numbers?

In [23]:
num = int(input("Enter number upto which sum is required: "))
sum = 0
while num>0:
    sum = sum+num
    num -= 1
print("Sum of natural numbers is: ", sum)

Enter number upto which sum is required: 445
Sum of natural numbers is:  99235

Assignment-5

In [ ]:
1.	Write a Python Program to Find LCM?

In [26]:
def lcm(num_1,num_2):
    if num_1>num_2:
        max = num_1
    else:
        max = num_2
    while True:
        if max%num_1==0 and max%num_2==0:
            print("LCM of {} and {} is {}".format(num_1, num_2, max))
            break
        max = max+1

In [27]:
lcm(5,6)

LCM of 5 and 6 is 30

In [ ]:
2.	Write a Python Program to Find HCF?

In [1]:
def hcf(num_1,num_2):
    if num_1<num2:
        min = num_1
    else:
        min = num_2
    for i in range(1,min+1):
        if num_1%i==0 and num_2%i==0:
            hcf=i
            break
    print("HCF is: ", hcf)
    hcf(12,284)

In [ ]:
3.	Write a Python Program to Convert Decimal to Binary, Octal and Hexadecimal?

In [30]:
num = int(input("Enter Decimal Number: "))
print("Decimal to Binary: ",bin(num))
print("Decimal to Octal: ",oct(num))
print("Decimal to Hexadecimal: ",hex(num))

Enter Decimal Number: 45
Decimal to Binary:  0b101101
Decimal to Octal:  0o55
Decimal to Hexadecimal:  0x2d

In [ ]:
4.	Write a Python Program To Find ASCII value of a character?

In [31]:
def ascii_value(character):
    return ord(character)

ascii_value("b")

98

In [ ]:
5.	Write a Python Program to Make a Simple Calculator with 4 basic mathematical operations?

In [32]:
def calculator(a,b):
    ops = str(input("What operation would you like to perform: "))
    if ops == "add":
        print("{} + {} = {}".format(a,b,a+b))
    elif ops == "substract":
        print("{} - {} = {}".format(a,b,a-b))
    elif ops == "multiply":
        print("{} X {} = {}".format(a,b,a*b))
    elif ops == "division":
        print("{} / {} = {}".format(a,b,a/b))
    else:
        print("Enter correct operation")

In [33]:
calculator(9,19)

What operation would you like to perform: 12
Enter correct operation

In [34]:
calculator(9.5,9.5)

What operation would you like to perform: 12
Enter correct operation

Assignment-6

In [ ]:
1. Write a Python Program to Display Fibonacci Sequence Using Recursion?

In [35]:
def fibonacci(a,b,n):
    if n==0:
        return
    result = a+b
    print(result)
    fibonacci(b, result, n-1 )

n1 = 0
n2 = 1
n = int(input("Required length of the series: "))
print(n1)
print(n2)

print(fibonacci(n1,n2,n-2)) # n-2 because intially two numbers are already taken i.e. n1 and n2

Required length of the series: 12
0
1
1
2
3
5
8
13
21
34
55
89
None

In [ ]:
2. Write a Python Program to Find Factorial of Number Using Recursion?

In [36]:
def fact(n):
    if n==0:
        return 1
    return n*fact(n-1)

fact(5)

120

In [ ]:
3. Write a Python Program to calculate your Body Mass Index?

In [37]:
def bmi(wt,ht):
    result = wt/ht**2
    print("Your BMI is: ",result)
    if result>= 18.5 and result<=24.9:
        print("Healthy Range")
    elif result<18.5:
        print("Underweight")
    else:
        print("overweight")
    
weight = float(input("Enter weight in kg: "))
print(weight,"kg")
height = float(input("Enter height in m: "))
print(height,"m")

bmi(weight,height)

Enter weight in kg: 10
10.0 kg
Enter height in m: 23
23.0 m
Your BMI is:  0.01890359168241966
Underweight

In [ ]:
4. Write a Python Program to calculate the natural logarithm of any number?

In [38]:
import math
n = float(input("Enter any number: "))
print(math.log(n))

Enter any number: 10
2.302585092994046

In [ ]:
5. Write a Python Program for cube sum of first n natural numbers?

In [39]:
def cube_sum(n):
    result = 0
    for i in range(1,n+1):
        result = result+(i*i*i)
    return result


print(cube_sum(5))

225

Assignment-7

In [ ]:
1. Write a Python Program to find sum of array?

In [40]:

def sum_array(*args):
    sum=0
    for i in args:
        sum = sum+i
    return sum
    
a = sum_array(1,2,3,4,5,6)
a

21

In [ ]:
array = []
size = int(input("Length of array: "))
for i in range(size):
    elements = int(input())
    array.append(elements)
    
print("provided array: {} \n and sum of given array is: {}".format(array,sum(array)))

Length of array: 56
23
89
56
23
78
56

In [ ]:
2. Write a Python Program to find largest element in an array?

In [ ]:
array = []
size = int(input("Length of array: "))
for i in range(size):
    elements = int(input())
    array.append(elements)
    
print("provided array: {} \n and largest element in given array is: {}".format(array,max(array)))

Length of array: 45
12
56
78

In [ ]:
3. Write a Python Program for array rotation?

In [ ]:
array = []
size = int(input("Length of array: "))
for i in range(size):
    elements = int(input())
    array.append(elements)
    
print("original array: {} and \n rotated array is: {}".format(array,array[::-1]))

In [ ]:
4. Write a Python Program to Split the array and add the first part to the end?

In [ ]:
array = []
size = int(input("Length of array: "))
for i in range(size):
    elements = int(input())
    array.append(elements)
print(array)

mid = size//2

split = array[:mid]
print("splitted part is: ",split)

array = array[mid:]
print("after spliting remaining array is: ",array)

array = array+split
print("Final Array: ",array)

In [ ]:
5. Write a Python Program to check if given array is Monotonic?

In [ ]:
def monotonic(array):
    return(all(array[i]<=array[i+1] for i in range(len(array)-1)) or 
           all(array[i]>=array[i+1] for i in range(len(array)-1)))

In [ ]:
array = []
size = int(input("Length of array: "))
for i in range(size):
    elements = int(input())
    array.append(elements)
print(array)

print(monotonic(array))

Assignment-8

In [ ]:
1. Write a Python Program to Add Two Matrices?

In [ ]:
def sum(a,b):
    output = []
    for i in range(len(a)):
        row = []
        for j in range(len(a[0])):
            row.append(a[i][j]+b[i][j])
        output.append(row)
    return output

In [ ]:
def matrix_input_and_add(m,n):    #m and n is size of matrics
    print("Enter matrix a: ")
    a = []
    for i in range(m):
        row = []
        for j in range(n):
            row.append(int(input()))
        a.append(row)
    print("Matrix a is ",a)
    print("Enter matrix b: ")
    b = []
    for i in range(m):
        row = []
        for j in range(n):
            row.append(int(input()))
        b.append(row)
    print("matrix b is ",b)
    addition = sum(a,b)
    return addition

result = matrix_input_and_add(3,3)
result

In [ ]:
2. Write a Python Program to Multiply Two Matrices?

In [ ]:
A = [[1,2,3],[4,5,6],[7,8,9]]
B = [[1,2],[4,5],[6,7]]

C = [[0,0],[0,0],[0,0]]

In [ ]:
for i in range(0,len(C)):
    for j in range(0,len(C[0])):
        for k in range(0,len(B)):
            C[i][j] += A[i][k]*B[k][j]
            
for row in C:
    print(row)

In [ ]:
3. Write a Python Program to Transpose a Matrix?

In [ ]:
A = [[1,2],
     [4,5],
     [7,8]]
C = [[0,0,0],
     [0,0,0]]
     
for i in range(len(A)):
    for j in range(len(A[0])):
        C[j][i] = A[i][j]
print(C)

In [ ]:
4. Write a Python Program to Sort Words in Alphabetic Order?

In [ ]:
a = input("Enter String").lower()

order = a.split()
order.sort()
for words in order:
    print(words)

In [ ]:
5. Write a Python Program to Remove Punctuation From a String?

In [ ]:
punctuation = '''''!()-[]{};:'"\,<>./?@#$%^&*_~''' 
a = input("Enter String")

cleared = ""

for char in a:
    if char not in punctuation:
        cleared += char
print(cleared)

In [ ]:
Assignment-9

In [ ]:
1. Write a Python program to check if the given number is a Disarium Number?

In [ ]:
def disarium(a):
    temp = a
    l = len(str(temp))
    sum = 0
    while temp!=0:
        rem = temp%10
        sum = sum + rem**l
        l = l-1
        temp = temp//10
    if sum==a:
        print("Its a Disarium Number")
    else:
        print("Try another number")

In [ ]:
disarium(175)

In [ ]:
disarium(89)

In [ ]:
disarium(34)

In [ ]:
2. Write a Python program to print all disarium numbers between 1 to 100?

In [ ]:
upper_limit = int(input("Enter Upper limit"))+1
lower_limit = int(input("Enter lower limit"))

for i in range(lower_limit,upper_limit):
    temp = i
    l = len(str(temp))
    sum = 0
    while temp!=0:
        rem = temp%10
        sum = sum + rem**l
        l = l-1
        temp = temp//10
    if sum==i:
        print("{} is Disarium Number".format(i))

In [ ]:
3. Write a Python program to check if the given number is Happy Number?

In [ ]:
def squsum(n):
    sum = 0
    while n>0:
        rem = n%10
        sum = sum+rem**2
        n = n//10
    return sum


def happy_no(n):
    l=set()
    while squsum(n) not in l:
        sum1 = squsum(n)
        if sum1==1:
            return True
        else:
            l.add(sum1)
            n = sum1
    return False

In [ ]:
happy_no(11)

In [ ]:
happy_no(7)

In [ ]:
4. Write a Python program to print all happy numbers between 1 and 100?

In [ ]:
[i for i in range(1,101) if happy_no(i)==True]

In [ ]:
5. Write a Python program to determine whether the given number is a Harshad Number?

In [ ]:
def sumofdigits(n):
    sum = 0
    temp = n
    while temp>0:
        rem = temp%10
        sum = sum + rem
        temp = temp//10
    return sum


def harshad(n):
    if n%sumofdigits(n)==0:
        return True
    return False

In [ ]:
harshad(6804)

In [ ]:
harshad(15)

In [ ]:
6. Write a Python program to print all pronic numbers between 1 and 100?

In [ ]:
[i for i in range(1,101) if harshad(i)]

In [ ]:
Assignment-10

In [ ]:
1. Write a Python program to find sum of elements in list?

In [ ]:
l = [1,2,3,4,5,6]
sum = 0
for i in l:
    sum = sum+i
print(sum)

In [ ]:
2. Write a Python program to Multiply all numbers in the list?

In [ ]:
m = 1
for i in l:
    m = m*i
print(m)

In [ ]:
3. Write a Python program to find smallest number in a list?

In [ ]:
L = [10,464,123,2,5,4,45,48486,5451]
L.sort()
print(L[0])

In [ ]:
4. Write a Python program to find largest number in a list?

In [ ]:
L.sort()
print(L[-1])

In [ ]:
5. Write a Python program to find second largest number in a list?

In [ ]:
L.sort()
print(L[1])

In [ ]:
6. Write a Python program to find N largest elements from a list?

In [ ]:
def nthlargest(n):
    L.sort()
    print("{}th largest number is {}".format(n, L[-n]))
nthlargest(3)

In [ ]:
7. Write a Python program to print even numbers in a list?

In [ ]:
even = []
for i in L:
    if i%2==0:
        even.append(i)
print(even)

In [ ]:
8. Write a Python program to print odd numbers in a List?

In [4]:
odd = []
for i in L:
    if i%2!=0:
        odd.append(i)
print(odd)

NameError: name 'L' is not defined

In [ ]:
9. Write a Python program to Remove empty List from List?

In [3]:
l = [[],123,2,3,[1,2,3],[]]
for i in l:
    if i==[]:
        l.remove(i)
print(l)

[123, 2, 3, [1, 2, 3]]

In [ ]:
10. Write a Python program to Cloning or Copying a list?

In [2]:
def cloning(l):
    copy = []
    for i in l:
        copy.append(i)
    print("original list : {}\nCloned List: {}".format(l,copy))
        
cloning(l)

original list : [10, 20, 30, 10, 20, 30, 10]
Cloned List: [10, 20, 30, 10, 20, 30, 10]

In [ ]:
11. Write a Python program to Count occurrences of an element in a list?

In [1]:

l = [10,20,30,10,20,30,10]
element = 10
count = 0
for i in l:
    if element == i:
        count+=1
print("{} has occured {} times".format(element,count))

10 has occured 3 times

In [ ]:
Assignment-11

In [ ]:
1. Write a Python program to find words which are greater than given length k?

In [ ]:
def greaterthan(sentense):
    words = []
    split = sentense.split(" ")
    print(split)
    k = int(input("Enter length: "))
    for i in split:
        if len(i)>k:
            words.append(i)
    return words
    
greaterthan("hello world how are you")

In [ ]:
2. Write a Python program for removing i-th character from a string?

In [ ]:
def remove_char(sentense):
    split = sentense.split(" ")
    i_th = int(input("Enter position: "))
    for i in split:
        if split[i_th]==i:
            split.remove(i)
    sentense = " ".join(split)
    return sentense
remove_char("hello world this is rushikesh")

In [ ]:
3. Write a Python program to split and join a string?

In [ ]:

def split_join(sentense):
    split = sentense.split()
    print("Splited sentense: ",split)
    join  = ' '.join(split)
    print("sentense joined is: ",join)
split_join("My name is rushikesh")

In [ ]:
4. Write a Python to check if a given string is binary string or not?

In [ ]:

def binary_check(string):
    arrange = set(string)
    binary = {'0','1'}
    
    if binary == arrange or arrange=={'0'} or arrange == {'1'}:
        print("String is binary")
    else:
        print("String not binary")
binary_check("101010")

In [ ]:
binary_check("hello")

In [ ]:
5. Write a Python program to find uncommon words from two Strings?

In [ ]:

string1 = str(input("Enter String: "))
string2 = str(input("Enter String: "))
a = string1.split()
b = string2.split()
print(a,"\n", b)
UC = []
for i in a:
    if i not in b:
        UC.append(i)
for j in b:
    if j not in a:
        UC.append(j)
print(UC)

In [ ]:
6. Write a Python to find all duplicate characters in string?

In [ ]:
string = str(input("Enter string:  "))
char = []
duplicate = []
for i in string:
    if i  not in char:
        char.append(i)
    else:
        duplicate.append(i)
print("Duplicate characters are: " ,duplicate)

In [ ]:
7. Write a Python Program to check if a string contains any special character?

In [ ]:
spl_char = '[@_!#$%^&*()<>?/\|}{~:]'
string = str(input("Enter string: "))

for i in string:
    if i not in spl_char:
        continue
        
    else:
        print("Special Char {} found in given string".format(i))

In [ ]:
Assignment-12

In [ ]:
1. Write a Python program to Extract Unique values dictionary values?

In [ ]:
d = {'511':'Vishnu','512':'Vishnu','513':'Ram','514':'Ram','515':'sita'}
l = []
for val in d.values():
    if val in l:
        continue
    else:
        l.append(val)
        
print(l)

In [ ]:
2. Write a Python program to find the sum of all items in a dictionary?

In [ ]:
d = {'a':[100,101],'b':[102,103],'c':[104,105]}
l = []
for i in d.values():
    for j in i:
        l.append(j)
print(sum(l))

In [ ]:
3. Write a Python program to Merging two Dictionaries?

In [ ]:
d1 = {'a':100,'b':200,'c':300}
d2 = {'d':400,'e':500,'f':600}
d2.update(d1)
d2

In [ ]:
4. Write a Python program to convert key-values list to flat dictionary?

In [ ]:
l = ['a',100,'b',200,'c',300,'d',400,'e',500,'f',600]
l1= []
l2= []
for i in range(0,len(l),2):
    l1.append(l[i])

for j in range(1,len(l),2):
    if j not in l1:
        l2.append(l[j])
#print(l1)
#print(l2)

d = dict(zip(l1,l2))
print("List {} to \n Dictionary {}".format(l,d))

In [ ]:
 5. Write a Python program to insertion at the beginning in OrderedDict?

In [ ]:
from collections import OrderedDict
d = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500, 'f': 600}
od = OrderedDict(d)
print(od)
od['g'] = 700
print(od)
od.move_to_end('g', False)
print(od)

In [ ]:
6. Write a Python program to check order of character in string using OrderedDict()?

In [ ]:
unordered = {'a': 1000, 'f': 200, 'd': 300, 'c': 400, 'b': 500, 'e': 600}
print(unordered)
od = OrderedDict(sorted(unordered.items()))
print(od)

In [ ]:
7. Write a Python program to sort Python Dictionaries by Key or Value?

In [ ]:
d = {'a': 1000, 'f': 200, 'd': 300, 'c': 400, 'b': 500, 'e': 600}
sort = sorted(d.items())

print("Sorted by key: ",sort)

In [ ]:
Asignment-13

In [ ]:
Q.1. Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 C D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated
sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24

In [ ]:
D = [int(i) for i in input("Enter values:\n").split(',')]
C = 50
H = 30
E = []
for j in range(0,len(D)):
    Q = ((2*C*D[j])/H)**0.5
    E.append(Q)
print("Output:")
for k in range(0,len(E)):
    print(int(E[k]), end = ",")

In [ ]:
Question 2:
Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The
element value in the i-th row and j-th column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,¡Y-1.
Example
Suppose the following inputs are given to the program:
3,5
Then, the output of the program should be:
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [ ]:
x = int(input("Enter no of rows: "))
y = int(input("Enter no of columns: "))
mat = []
for i in range(x):
    row = []
    for j in range(y):
        row.append(i*j)
    mat.append(row)
    print(row)
print(mat)

In [ ]:
Question 3:
Write a program that accepts a comma separated sequence of words as input and prints the
words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world

In [ ]:
strings = [str(i) for i in input("Enter values:\n").split(',')]
strings.sort()
for k in strings:
    print(k, end = ",")

In [ ]:
Question 4:
Write a program that accepts a sequence of whitespace separated words as input and prints
the words after removing all duplicate words and sorting them alphanumerically.
Suppose the following input is supplied to the program:
hello world and practice makes perfect and hello world again
Then, the output should be:
again and hello makes perfect practice world

In [ ]:
words = [str(i) for i in input("Enter words:\n").split(' ')]
words.sort()
c = []
for k in words:
    c.append(k)
#print(c)
alphanum = []
for i in c:
    if i not in alphanum:
        alphanum.append(i)
print()
print("Alphanumerically sorted words are as follows:")
for j in alphanum:
    print(j,end = " ")

In [ ]:
Question 5:
Write a program that accepts a sentence and calculate the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS 3

In [ ]:
sentence = str(input("Enter sentense: "))
letters = 0
digits = 0

for i in sentence:
    if i.isalpha():
        letters = letters+1
    elif i.isdigit():
        digits = digits+1
    else:
        pass
     
print("LETTERS {} \n DIGITS {}".format(letters,digits))

In [ ]:
Question 6:
A website requires the users to input username and password to register. Write a program to
check the validity of password input by users.
Following are the criteria for checking the password:
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12
Your program should accept a sequence of comma separated passwords and will check them
according to the above criteria. Passwords that match the criteria are to be printed, each
separated by a comma.
Example
If the following passwords are given as input to the program:
ABd1234@1,a F1#,2w3E*,2We3345
Then, the output of the program should be:
ABd1234@1

In [ ]:
passwords = [str(i) for i in input("Enter passwords:\n").split(",")]
spl_char = ["$","#","@"]
correctpass = []
for i in passwords:
    if (len(i)<6 or len(i)>12):
        continue
    if (i.isupper() or i.islower()):
        continue
    num = any(j.isdigit() for j in i)
    if (not num):
        continue
    spl = any(j in spl_char for j in i)
    if (not spl):
        continue
    
    correctpass.append(i)
print()
print("Correct password is: ")
for k in correctpass:
    print(k,end = " ")

In [ ]:
Assignment-14

In [ ]:
Question 1:Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n.

In [ ]:
class itrate:
    def __init__(self,n):
        self.n  = n
    
    def divisible(self):
        for i in range(0, self.n):
            if i%7==0 and i>0:
                print(i)

In [ ]:
a = itrate(100)
a.divisible()

In [ ]:
Question 2: Write a program to compute the frequency of the words from the input. The outputshould output after sorting the key alphanumerically.
Suppose the following input is supplied to the program:
New to Python or choosing between Python 2 and Python 3? Read Python 2 or
Python 3.
Then, the output should be:
2:2
3.:1
3?:1
New:1
Python:5
Read:1
and:1
between:1
choosing:1
or:2
to:1

In [ ]:
input_string = str(input("Enter the string: ")).split()
frequency_check = sorted(set(input_string))

for i in frequency_check:
    print("{}:{}".format(i,input_string.count(i)))

In [ ]:
Question 3: Define a class Person and its two child classes: Male and Female. All classes have a method "getGender" which can print "Male" for Male class and "Female" for Female class.

In [ ]:
class person:
    def getgender(self):
        pass

class male(person):
    def getgender(self):
        return "male"

class female(person):
    def getgender(self):
        return "female"
    
m = male()
print(m.getgender())
f = female()
print(f.getgender())

In [ ]:
Question 4: Please write a program to generate all sentences where subject is in ["I", "You"] and verb is in ["Play", "Love"] and the object is in ["Hockey","Football"].

In [ ]:
subject = ["I", "You"]
verb = ["Play", "Love"]
objects = ["Hockey","Football"]

for i in subject:
    for j in verb:
        for k in objects:
            print("{} {} {}".format(i,j,k))

In [ ]:
Question 5: Please write a program to compress and decompress the string "hello world!hello world!hello world!hello world!".

In [ ]:
mport zlib
string = 'hello world!hello world!hello world!hello world!'.encode()
com = zlib.compress(s)
print(t)
print(zlib.decompress(t))

In [ ]:
Question 6: Please write a binary search function which searches an item in a sorted list. The function should return the index of element to be searched in the list.

In [ ]:
ef binary_search(l,n):
    low = 0
    high = len(l)-1

    
    while low<=high:
        mid = (low+high)//2
        
        if l[mid]<n:
            low = mid+1
        elif l[mid]>n:
            high = mid-1
        else:
            return mid
    return "element not in list"

In [ ]:
l = [12,4,2,31,21]
l.sort()
print(l)
binary_search(l,2)

In [ ]:
binary_search(l,5)

In [ ]:
Question 1: Please write a program using generator to print the numbers which can be divisible by 5 and 7 between 0 and n in comma separated form while n is input by console.
Example:
If the following n is given as input to the program:
100
Then, the output of the program should be:
0,35,70

In [ ]:
def generator(n):
    for i in range(n+1):
        if i%5==0 and i%7==0:
            yield i
for j in generator(100):
    print(j,end=',')

In [ ]:
Question 2: Please write a program using generator to print the even numbers between 0 and n in comma separated form while n is input by console.
Example:
If the following n is given as input to the program:
10
Then, the output of the program should be:
0,2,4,6,8,10

In [ ]:
def generator(n):
    for i in range(n+1):
        if i%2==0:
            yield i
for j in generator(10):
    print(j,end =",")

In [ ]:
Question 3: The Fibonacci Sequence is computed based on the following formula:
f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n>1
Please write a program using list comprehension to print the Fibonacci Sequence in comma
separated form with a given n input by console.

In [ ]:
def fib(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fib(n-1) + fib(n-2)
    
n = int(input("Enter length n: "))
sequence = [str(fib(i)) for i in range(n)]
print(",".join(sequence))

Enter length n: 89

In [ ]:
Question 4: Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the user name of a given email address. Both user names and company names are composed of letters only.
Example:
If the following email address is given as input to the program:
john@google.com
Then, the output of the program should be:
john

In [169]:
def username(email):
    print(email.split("@")[0])
username("john@google.com")

john

In [ ]:
Question 5: Define a class named Shape and its subclass Square. The Square class has an init function which takes a length as argument. Both classes have a area function which can print the area of the shape where Shape's area is 0 by default.

In [167]:
class shape:
    def __init__(self):
        pass
    def area(self):
        return 0
class square(shape):
    def __init__(self,length = 0):
        shape.__init__(self)
        self.length = length
    
    def area(self):
        return self.length*self.length
    
a = square(10)
a.area()

100

In [168]:
square().area()

0

In [ ]:
Assignment-16

In [ ]:
Question1. Write a function that stutters a word as if someone is struggling to read it. The first two letters are repeated twice with an ellipsis ... and space after each, and then the word is pronounced with a question mark ?.
Examples
stutter("incredible") ➞ "in... in... incredible?"
stutter("enthusiastic") ➞ "en... en... enthusiastic?"
stutter("outstanding") ➞ "ou... ou... outstanding?"
Hint :- Assume all input is in lower case and at least two characters long.

In [166]:
def stutter(word):
    print('->',(2*(word[:2]+'... '))+word+'?')
stutter("incredible")
stutter("enthusiastic")
stutter("outstanding")

-> in... in... incredible?
-> en... en... enthusiastic?
-> ou... ou... outstanding?

In [ ]:
Question 2.Create a function that takes an angle in radians and returns the corresponding angle in degrees rounded to one decimal place.
Examples
radians_to_degrees(1) ➞ 57.3
radians_to_degrees(20) ➞ 1145.9
radians_to_degrees(50) ➞ 2864.8

In [163]:
def radians_to_degrees(n):
    return n*180/3.14
radians_to_degrees(1)

57.324840764331206

In [164]:
radians_to_degrees(20)

1146.4968152866243

In [165]:
radians_to_degrees(50)

2866.2420382165606

In [ ]:
Question 3. In this challenge, establish if a given integer num is a Curzon number. If 1 plus 2 elevated to num is exactly divisible by 1 plus 2 multiplied by num, then num is a Curzon number. Given a non-negative integer num, implement a function that returns True if num is a Curzon number, or False otherwise.
Examples
is_curzon(5) ➞ True
# 2 ** 5 + 1 = 33
# 2 * 5 + 1 = 11
# 33 is a multiple of 11
is_curzon(10) ➞ False
# 2 ** 10 + 1 = 1025
# 2 * 10 + 1 = 21
# 1025 is not a multiple of 21
is_curzon(14) ➞ True
# 2 ** 14 + 1 = 16385
# 2 * 14 + 1 = 29
# 16385 is a multiple of 29

In [160]:
def is_curzon(n):
    a = pow(2,n)+1
    b = (2*n)+1
    return a%b==0
is_curzon(5)

True

In [161]:
is_curzon(10)

False

In [162]:
is_curzon(14)

True

In [ ]:
Question 4.Given the side length x find the area of a hexagon.
Examples
area_of_hexagon(1) ➞ 2.6
area_of_hexagon(2) ➞ 10.4
area_of_hexagon(3) ➞ 23.4

In [157]:
def area_of_hexagon(side_length):
    area = (3*1.73*side_length*side_length)/2
    print(area)
area_of_hexagon(1)

2.5949999999999998

In [158]:
area_of_hexagon(2)

10.379999999999999

In [159]:
area_of_hexagon(3)

23.354999999999997

In [ ]:
Question 5. Create a function that returns a base-2 (binary) representation of a base-10 (decimal) string number. To convert is simple:
((2) means base-2 and (10) means base-10)
010101001(2) = 1 + 8 + 32 + 128.
Going from right to left, the value of the most right bit is 1, now from that every bit to the left
will be x2 the value, value of an 8 bit binary numbers are (256, 128, 64, 32, 16, 8, 4, 2, 1).
Examples
binary(1) ➞ "1"
# 1* 1 = 1
binary(5) ➞ "101"
# 1 1 + 1 4 = 5
binary(10) ➞ "1010"
# 1 2 + 1 8 = 10

In [154]:
def binary(n):
    return bin(n).replace("0b","")
binary(10)

'1010'

In [155]:
binary(5)

'101'

In [156]:
binary(1)

'1'

In [ ]:
Assignment-17

In [ ]:
Question1. Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a, b inclusive.
Examples
evenly_divisible(1, 10, 20) ➞ 0
# No number between 1 and 10 can be evenly divided by 20.
evenly_divisible(1, 10, 2) ➞ 30
# 2 + 4 + 6 + 8 + 10 = 30
evenly_divisible(1, 10, 3) ➞ 18
# 3 + 6 + 9 = 18

In [151]:
def evenly_divisible(a,b,c):
    sum = 0
    for i in range(a-1,b+1,c):
        sum = sum+i
    if sum%c==0:
        print("--> ",sum)
    else:
        print("--> 0")
evenly_divisible(1, 10, 20)

-->  0

In [152]:
evenly_divisible(1, 10, 2)

-->  30

In [153]:
evenly_divisible(1, 10, 3)

-->  18

In [ ]:
Question2. Create a function that returns True if a given inequality expression is correct and False otherwise.
Examples
correct_signs("3 < 7 < 11") ➞ True
correct_signs("13 > 44 > 33 > 1") ➞ False
correct_signs("1 < 2 < 6 < 9 > 3") ➞ True

In [148]:
def correct_signs(inequality):
    return eval(inequality)
correct_signs("3<6<11")

True

In [149]:
correct_signs("13 > 44 > 33 > 1")

False

In [150]:
correct_signs("1 < 2 < 6 < 9 > 3")

True

In [ ]:
Question3. Create a function that replaces all the vowels in a string with a specified character.
Examples
replace_vowels("the aardvark", "#") ➞ "th# ##rdv#rk"
replace_vowels("minnie mouse", "?") ➞ "m?nn?? m??s?"
replace_vowels("shakespeare", "") ➞ "shksp**r"

In [145]:
def replace_vowels(string, spl_char):
    vowels = 'aeiouAEIOU'
    for i in vowels:
        string = string.replace(i,spl_char)
    return string
replace_vowels("the aardvark", "#")

'th# ##rdv#rk'

In [146]:
replace_vowels("minnie mouse", "?")

'm?nn?? m??s?'

In [147]:
replace_vowels("shakespeare", "")

'shkspr'

In [ ]:
Question4. Write a function that calculates the factorial of a number recursively.
Examples
factorial(5) ➞ 120
factorial(3) ➞ 6
factorial(1) ➞ 1
factorial(0) ➞ 1

In [141]:
def factorial(n):
    if n==0:
        return 1
    return n * factorial(n-1)
factorial(5)

120

In [142]:
factorial(3)

6

In [143]:
factorial(1)

1

In [144]:
factorial(0)

1

In [ ]:
Question 5 Hamming distance is the number of characters that differ between two strings.
To illustrate:
String1: "abcbba"
String2: "abcbda"
Hamming Distance: 1 - "b" vs. "d" is the only difference.
Create a function that computes the hamming distance between two strings.
Examples
hamming_distance("abcde", "bcdef") ➞ 5
hamming_distance("abcde", "abcde") ➞ 0
hamming_distance("strong", "strung") ➞ 1

In [138]:
def hamming_distance(string1, string2):
    count = 0
    i = 0
    while i<len(string1):
        if string1[i]!=string2[i]:
            count = count+1
        i = i+1
    return count
    
hamming_distance("abcde", "bcdef")

5

In [139]:
hamming_distance("abcde", "abcde")

0

In [140]:
hamming_distance("strong", "strung")

1

In [ ]:
Assignment-18

In [ ]:
Question 1 Create a function that takes a list of non-negative integers and strings and return a new list without the strings.
Examples
filter_list([1, 2, "a", "b"]) ➞ [1, 2]
filter_list([1, "a", "b", 0, 15]) ➞ [1, 0, 15]
filter_list([1, 2, "aasf", "1", "123", 123]) ➞ [1, 2, 123]

In [135]:
def filter_list(l):
    filtered_List=[]
    for i in l:
        if type(i)==int and i>=0:
            filtered_List.append(i)
    return filtered_List
filter_list([1, 2, "a", "b"])

[1, 2]

In [136]:
filter_list([1, "a", "b", 0, 15])

[1, 0, 15]

In [137]:
filter_list([1, 2, "aasf", "1", "123", 123])

[1, 2, 123]

In [ ]:
Question 2 The "Reverser" takes a string as input and returns that string in reverse order, with the opposite case.
Examples
reverse("Hello World") ➞ "DLROw OLLEh"
reverse("ReVeRsE") ➞ "eSrEvEr"
reverse("Radar") ➞ "RADAr"

In [132]:
def reverse(string):
    rev = string[::-1]
    case = rev.swapcase()
    return case
    
reverse("Hello World")

'DLROw OLLEh'

In [133]:
reverse("ReVeRsE")

'eSrEvEr'

In [134]:
reverse("Radar")

'RADAr'

In [ ]:
Question 3
You can assign variables from lists like this:
lst = [1, 2, 3, 4, 5, 6]
first = lst[0]
middle = lst[1:-1]
last = lst[-1]
print(first) ➞ outputs 1
print(middle) ➞ outputs [2, 3, 4, 5]
print(last) ➞ outputs 6
With Python 3, you can assign variables from lists in a much more succinct way. Create
variables first, middle and last from the given list using destructuring assignment
(check the Resources tab for some examples), where:
first ➞ 1
middle ➞ [2, 3, 4, 5]
last ➞ 6
Your task is to unpack the list writeyourcodehere into three variables, being first,
middle, and last, with middle being everything in between the first and last element. Then
print all three variables.

In [129]:
lst = [1, 2, 3, 4, 5, 6]
first ,*middle,last = lst
first

1

In [130]:
middle

[2, 3, 4, 5]

In [131]:
last

6

In [ ]:
Question 4
Write a function that calculates the factorial of a number recursively.
Examples
factorial(5) ➞ 120
factorial(3) ➞ 6
factorial(1) ➞ 1
factorial(0) ➞ 1

In [128]:
def factorial(n):
    if n==0:
        return 1
    return n*factorial(n-1)
print(factorial(5),factorial(3),factorial(1),factorial(0))

120 6 1 1

In [ ]:
Question 5
Write a function that moves all elements of one type to the end of the list.
Examples
move_to_end([1, 3, 2, 4, 4, 1], 1) ➞ [3, 2, 4, 4, 1, 1]
# Move all the 1s to the end of the array.
move_to_end([7, 8, 9, 1, 2, 3, 4], 9) ➞ [7, 8, 1, 2, 3, 4, 9]
move_to_end(["a", "a", "a", "b"], "a") ➞ ["b", "a", "a", "a"]

In [125]:
def move_to_end(l,n):
    for i in l:
        l.append(n)
        l.remove(n)
    return l
move_to_end([1, 3, 2, 4, 4, 1], 1)

[3, 2, 4, 4, 1, 1]

In [126]:
move_to_end([7, 8, 9, 1, 2, 3, 4], 9)

[7, 8, 1, 2, 3, 4, 9]

In [127]:
move_to_end(["a", "a", "a", "b"], "a")

['b', 'a', 'a', 'a']

Assignment-19

In [119]:
def double_char(string):
    return ''.join([i*2 for i in string])

In [120]:
double_char("String")

'SSttrriinngg'

In [121]:
double_char("Hello World!")

'HHeelllloo  WWoorrlldd!!'

In [122]:
double_char("1234!_ ")

'11223344!!__  '

In [ ]:
Question2 Create a function that reverses a boolean value and returns the string "boolean expected" if another variable type is given.
Examples
reverse(True) ➞ False
reverse(False) ➞ True
reverse(0) ➞ "boolean expected"
reverse(None) ➞ "boolean expected"

In [115]:
def reverse(bool_value):
    if type(bool_value)==bool:
        return not bool_value
    return "boolean excepted"
        
        
    
    
reverse(True)

False

In [116]:
reverse(False)

True

In [117]:
reverse(0)

'boolean excepted'

In [118]:
reverse(None)

'boolean excepted'

In [ ]:
Question3 Create a function that returns the thickness (in meters) of a piece of paper after folding it n number of times. The paper starts off with a thickness of 0.5mm.
Examples
num_layers(1) ➞ "0.001m"
# Paper folded once is 1mm (equal to 0.001m)
num_layers(4) ➞ "0.008m"
# Paper folded 4 times is 8mm (equal to 0.008m)
num_layers(21) ➞ "1048.576m"
# Paper folded 21 times is 1048576mm (equal to 1048.576m)

In [112]:
def num_layers(n):
    thickness = 0.5
    for i in range(n):
        thickness *= 2
    
    return str(thickness / 1000)+'m'
num_layers(1)

'0.001m'

In [113]:
num_layers(4)

'0.008m'

In [114]:
num_layers(21)

'1048.576m'

In [ ]:
Question4 Create a function that takes a single string as argument and returns an ordered list containing the indices of all capital letters in the string.
Examples
index_of_caps("eDaBiT") ➞ [1, 3, 5]
index_of_caps("eQuINoX") ➞ [1, 3, 4, 6]
index_of_caps("determine") ➞ []
index_of_caps("STRIKE") ➞ [0, 1, 2, 3, 4, 5]
index_of_caps("sUn") ➞ [1]

In [107]:
def index_of_caps(string):
    l = []
    for i in range(len(string)):
        if string[i].isupper():
            l.append(i)
    return l
            
index_of_caps("eQuINoX")

[1, 3, 4, 6]

In [108]:
index_of_caps("eDaBiT")

[1, 3, 5]

In [109]:
index_of_caps('determine')

[]

In [110]:
index_of_caps('STRIKE')

[0, 1, 2, 3, 4, 5]

In [111]:
index_of_caps('sUn')

[1]

In [ ]:
Question5 Using list comprehensions, create a function that finds all even numbers from 1 to the given number.
Examples
find_even_nums(8) ➞ [2, 4, 6, 8]
find_even_nums(4) ➞ [2, 4]
find_even_nums(2) ➞ [2]

In [104]:
def find_even_nums(n):
    return [i for i in range(1,n+1) if i%2==0 ]
find_even_nums(8)

[2, 4, 6, 8]

In [105]:
find_even_nums(4)

[2, 4]

In [106]:
find_even_nums(2)

[2]

Assignment-20

In [102]:
def filter_list(l):
    f = []
    for i in l:
        if type(i)==int:
            f.append(i)
    return f

In [103]:
print(filter_list([1, 2, 3, "a", "b", 4]))
print(filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]))
print(filter_list(["Nothing", "here"]))

[1, 2, 3, 4]
[0, 1729]
[]

In [ ]:
Question2 Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [99]:
def add_indexes(l):
    m = []
    for i in range(len(l)):
        m.append(i+l[i])
    return m
             
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [100]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [101]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

In [ ]:
Question3 Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.
Examples
cone_volume(3, 2) ➞ 12.57
cone_volume(15, 6) ➞ 565.49
cone_volume(18, 0) ➞ 0

In [96]:
def cone_volume(h,r):
    vol = (3.14*r*r*(h/3))
    return vol
    
cone_volume(15, 6)

565.1999999999999

In [97]:
cone_volume(3,2)

12.56

In [98]:
cone_volume(18,0)

0.0

In [ ]:
Question4 This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.
Examples
triangle(1) ➞ 1
triangle(6) ➞ 21
triangle(215) ➞ 23220

In [93]:
# T = (n)(n + 1) / 2
def triangle(n):
    t = n*(n+1)*0.5
    return t
triangle(1)

1.0

In [94]:
triangle(6)

21.0

In [95]:
triangle(215)

23220.0

In [ ]:
Question5 Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [88]:
def missing_num(l):
    for i in range(1,11):
        if i not in l:
            print(i)
        
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [89]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [90]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7

In [92]:
#Assignment-21

In [ ]:
Question1 Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.
Examples
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]
next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]
next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]
next_in_line([], 6) ➞ "No list has been selected"

In [83]:
def next_in_line(l,n):
    try:
        l.append(n)
        l.pop(l[0])
        print(l)
    except Exception:
        print("No list has been selected")

In [84]:
next_in_line([5, 6, 7, 8, 9], 1)

[5, 6, 7, 8, 9]

In [85]:
next_in_line([], 6)

No list has been selected

In [86]:
next_in_line([7, 6, 3, 23, 17], 10)

No list has been selected

In [87]:
next_in_line([1, 10, 20, 42 ], 6)

[1, 20, 42, 6]

In [ ]:
Question2 Create the function that takes a list of dictionaries and returns the sum of people's budgets.
Examples
get_budgets([
{ "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 }
]) ➞ 65700
get_budgets([
{ "name": "John", "age": 21, "budget": 29000 },
{ "name": "Steve", "age": 32, "budget": 32000 },
{ "name": "Martin", "age": 16, "budget": 1600 }
]) ➞ 62600

In [80]:
def get_budgets(l):
    budget = 0
    for i in l:
        for key,value in i.items():
            if key=="budget":
                budget = budget+value
    return budget

In [81]:
get_budgets([
{ "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 }
])

65700

In [82]:
get_budgets([
{ "name": "John", "age": 21, "budget": 29000 },
{ "name": "Steve", "age": 32, "budget": 32000 },
{ "name": "Martin", "age": 16, "budget": 1600 }
])
62600

62600

In [ ]:
Question3
Create a function that takes a string and returns a string with its letters in alphabetical order.
Examples
alphabet_soup("hello") ➞ "ehllo"
alphabet_soup("edabit") ➞ "abdeit"
alphabet_soup("hacker") ➞ "acehkr"
alphabet_soup("geek") ➞ "eegk"
alphabet_soup("javascript") ➞ "aacijprstv"

In [79]:
def alphabet_soup(string):
    return ''.join(sorted(string))
print(alphabet_soup("hello"),alphabet_soup("hello"),alphabet_soup("hacker"),alphabet_soup("geek"),alphabet_soup("javascript"))

ehllo ehllo acehkr eegk aacijprstv

In [ ]:
Question4
Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.
What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r, and the
number of compounding periods per year n. The function returns the value at the end of term
rounded to the nearest cent.
For the example above:
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97
Note that the interest rate is given as a decimal and n=12 because with monthly compounding
there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or
daily.
Examples
compound_interest(100, 1, 0.05, 1) ➞ 105.0
compound_interest(3500, 15, 0.1, 4) ➞ 15399.26
compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26

In [76]:
def compound_interest(p,t,r,n):
    ci = p*(1+(r/n))**(n*t)
    return round(ci,2)
compound_interest(100, 1, 0.05, 1)

105.0

In [77]:
compound_interest(3500, 15, 0.1, 4)

15399.26

In [78]:
compound_interest(100000, 20, 0.15, 365)

2007316.26

In [ ]:
Question5
Write a function that takes a list of elements and returns only the integers.
Examples
return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]
return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]
return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) ➞ [10, 56, 20,
3]
return_only_integer(["String", True, 3.3, 1]) ➞ [1]

In [71]:
def return_only_integer(l):
    l1 = []
    for i in l:
        if type(i)==int:
            l1.append(i)
    return l1
        
return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]

In [72]:
return_only_integer(["hello", 81, "basketball", 123, "fox"])

[81, 123]

In [73]:
return_only_integer([10, "121", 56, 20, "car", 3, "lion"])

[10, 56, 20, 3]

In [74]:
return_only_integer(["String", True, 3.3, 1])

[1]

Assignment-22

In [ ]:
Question1
Create a function that takes three parameters where:
 x is the start of the range (inclusive).
 y is the end of the range (inclusive).
 n is the divisor to be checked against.
Return an ordered list with numbers in the range that are divisible by the third parameter n.
Return an empty list if there are no numbers that are divisible by n.
Examples
list_operation(1, 10, 3) ➞ [3, 6, 9]
list_operation(7, 9, 2) ➞ [8]
list_operation(15, 20, 7) ➞ []

In [68]:
def list_operation(x,y,n):
    l = []
    for i in range(x,y+1):
        if i%n==0:
            l.append(i)
    return l
            
        
list_operation(1, 10, 3)

[3, 6, 9]

In [69]:
list_operation(7, 9, 2)

[8]

In [70]:
list_operation(15, 20, 7)

[]

In [ ]:
Question2
Create a function that takes in two lists and returns True if the second list follows the first list
by one element, and False otherwise. In other words, determine if the second list is the first
list shifted to the right by 1.
Examples
simon_says([1, 2], [5, 1]) ➞ True
simon_says([1, 2], [5, 5]) ➞ False
simon_says([1, 2, 3, 4, 5], [0, 1, 2, 3, 4]) ➞ True
simon_says([1, 2, 3, 4, 5], [5, 5, 1, 2, 3]) ➞ False
Notes
 Both input lists will be of the same length, and will have a minimum length of 2.
 The values of the 0-indexed element in the second list and the n-1th indexed element
in the first list do not matter.

In [64]:
def simon_says(l1,l2):
    return l1[0:len(l1)-1]==l2[1:len(l2)]

        
simon_says([1, 2], [5, 1])

True

In [65]:
simon_says([1, 2], [5, 5])

False

In [66]:
simon_says([1, 2, 3, 4, 5], [0, 1, 2, 3, 4])

True

In [67]:
simon_says([1, 2, 3, 4, 5], [5, 5, 1, 2, 3])

False

In [ ]:
Question3
A group of friends have decided to start a secret society. The name will be the first letter of
each of their names, sorted in alphabetical order.
Create a function that takes in a list of names and returns the name of the secret society.
Examples
society_name(["Adam", "Sarah", "Malcolm"]) ➞ "AMS"
society_name(["Harry", "Newt", "Luna", "Cho"]) ➞ "CHLN"
society_name(["Phoebe", "Chandler", "Rachel", "Ross", "Monica", "Joey"])

In [61]:
def society_name(l):
    l1 = []
    for i in l:
        l1.append(i[0])
    l1 = sorted(l1)
    return ''.join(l1)
        
society_name(["Adam", "Sarah", "Malcolm"])

'AMS'

In [62]:
society_name(["Harry", "Newt", "Luna", "Cho"])

'CHLN'

In [63]:
society_name(["Phoebe", "Chandler", "Rachel", "Ross", "Monica", "Joey"])

'CJMPRR'

In [ ]:
Question4
An isogram is a word that has no duplicate letters. Create a function that takes a string and
returns either True or False depending on whether or not it's an "isogram".
Examples
is_isogram("Algorism") ➞ True
is_isogram("PasSword") ➞ False
# Not case sensitive.
is_isogram("Consecutive") ➞ False
Notes
 Ignore letter case (should not be case sensitive).
 All test cases contain valid one word strings.

In [58]:
def is_isogram(string):
    for i in range(len(string)):
        if string.lower().count(string[i]) > 1:
            return False
    else:
        return True
is_isogram("Algorism")

True

In [59]:
is_isogram("PasSword")

False

In [60]:
is_isogram("Consecutive")

False

In [ ]:
Question5
Create a function that takes a string and returns True or False, depending on whether the
characters are in order or not.
Examples
is_in_order("abc") ➞ True
is_in_order("edabit") ➞ False
is_in_order("123") ➞ True
is_in_order("xyzz") ➞ True
Notes
You don't have to handle empty strings.

In [54]:
def is_in_order(string):
    string1 = sorted(string)
    string1 = ''.join(string1)
    if string1==string:
        return True
    else:
        return False
is_in_order("abc")

True

In [55]:
is_in_order("edabit")

False

In [56]:
is_in_order("123")

True

In [57]:
is_in_order("xyzz")

True

Assignment-23

In [ ]:
Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [49]:
def is_symmetrical(n):
    rev = str(n)[::-1]
    #print(rev)
    if rev == str(n):
        return True
    return False
        
is_symmetrical(7227)

True

In [50]:
is_symmetrical(12567)

False

In [51]:
is_symmetrical(44444444)

True

In [52]:
is_symmetrical(9939)

False

In [53]:
is_symmetrical(1112111)

True

In [ ]:
Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums("2, 3") ➞ 6
multiply_nums("1, 2, 3, 4") ➞ 24
multiply_nums("54, 75, 453, 0") ➞ 0
multiply_nums("10, -2") ➞ -20

In [44]:
def multiply_nums(s):
    s = s.replace(' ', "")
    s = s.split(',')
    sum = 1
    for i in s:
        sum = sum * int(i)
    return sum

In [45]:
multiply_nums("2, 3")

6

In [46]:
multiply_nums("1, 2, 3, 4")

24

In [47]:
multiply_nums("54, 75, 453, 0")

0

In [48]:
multiply_nums("10, -2")

-20

In [ ]:
Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [41]:
def square_digits(n):
    sq = ''.join(str(int(i)**2) for i in str(n))
    return int(sq)
    
    
square_digits(9119)

811181

In [42]:
square_digits(2483)

416649

In [43]:
square_digits(3212)

9414

In [ ]:
Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [37]:
def setify(l):
    m = []
    l.sort()
    l = set(l)
    for i in l:
        m.append(i)
    return m
        
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [38]:
setify([4, 4, 4, 4])

[4]

In [39]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [40]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [ ]:
Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [34]:
def mean(n):
    sum = 0
    lenth = len(str(n))
    for i in str(n):
        sum = sum+ int(i)
    return int(sum/lenth)
        
    
mean(42)

3

In [35]:
mean(12345)

3

In [36]:
mean(666)

6

Assignment-24

In [ ]:
Question1
Create a function that takes an integer and returns a list from 1 to the given number, where:
1. If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the
number).
2. If the number cannot be divided evenly by 4, simply return the number.
Examples
amplify(4) ➞ [1, 2, 3, 40]
amplify(3) ➞ [1, 2, 3]
amplify(25) ➞ [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160,
17, 18, 19, 200, 21, 22, 23, 240, 25]
Notes
 The given integer will always be equal to or greater than 1.
 Include the number (see example above).
 To perform this problem with its intended purpose, try doing it with list
comprehensions. If that's too difficult, just solve the challenge any way you can.

In [31]:
def amplify(n):
    return [i*10 if i%4==0 else i for i in range(1, n+1)]
amplify(4)

[1, 2, 3, 40]

In [32]:
amplify(3)

[1, 2, 3]

In [33]:
print(amplify(25))

[1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25]

In [ ]:
Question2
Create a function that takes a list of numbers and return the number that's unique.
Examples
unique([3, 3, 3, 7, 3, 3]) ➞ 7
unique([0, 0, 0.77, 0, 0]) ➞ 0.77
unique([0, 1, 1, 1, 1, 1, 1, 1]) ➞ 0
Notes
Test cases will always have exactly one unique number while all others are the same.

In [27]:
def unique(l):
    for i in list(set(l)):
        if l.count(i)==1:
            return i

In [28]:
unique([3, 3, 3, 7, 3, 3])

7

In [29]:
unique([0, 0, 0.77, 0, 0])

0.77

In [30]:
unique([0, 1, 1, 1, 1, 1, 1, 1])

0

In [ ]:
Question3
Your task is to create a Circle constructor that creates a circle with a radius provided by an
argument. The circles constructed must have two getters getArea() (PIr^2) and
getPerimeter() (2PI*r) which give both respective areas and perimeter (circumference).
For help with this class, I have provided you with a Rectangle constructor which you can use
as a base example.
Examples
circy = Circle(11)
circy.getArea()
# Should return 380.132711084365
circy = Circle(4.44)
circy.getPerimeter()
# Should return 27.897342763877365
Notes
Round results up to the nearest integer.

In [26]:
class Circle:
    def __init__(self,r):
        self.radius = r
    
    def getArea(self):
        return round(3.14*self.radius*self.radius)
    
    def getPerimeter(self):
        return round(2*3.14*self.radius)
circy = Circle(11)
circy.getArea()

380

In [ ]:
circy = Circle(4.44)
circy.getPerimeter()

In [ ]:
Question4
Create a function that takes a list of strings and return a list, sorted from shortest to longest.
Examples
sort_by_length(["Google", "Apple", "Microsoft"])
➞ ["Apple", "Google", "Microsoft"]
sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"])
➞ ["Raphael", "Leonardo", "Donatello", "Michelangelo"]
sort_by_length(["Turing", "Einstein", "Jung"])
➞ ["Jung", "Turing", "Einstein"]
Notes
All test cases contain lists with strings of different lengths, so you won't have to deal with
multiple strings of the same length.

In [23]:
def sort_by_length(l):
    return (sorted(l, key = len))
sort_by_length(["Google", "Apple", "Microsoft"])

['Apple', 'Google', 'Microsoft']

In [24]:
sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"])

['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']

In [25]:
sort_by_length(["Turing", "Einstein", "Jung"])

['Jung', 'Turing', 'Einstein']

In [ ]:
Question5
Create a function that validates whether three given integers form a Pythagorean triplet. The
sum of the squares of the two smallest integers must equal the square of the largest number to
be validated.
Examples
is_triplet(3, 4, 5) ➞ True
# 3² + 4² = 25
# 5² = 25
is_triplet(13, 5, 12) ➞ True
# 5² + 12² = 169
# 13² = 169
is_triplet(1, 2, 3) ➞ False
# 1² + 2² = 5
# 3² = 9
Notes
Numbers may not be given in a sorted order.

In [20]:
def is_triplet(*args):
    l = []
    l.extend((args))
    l = sorted(l)
    if l[0]**2 + l[1]**2 == l[2]**2:
        return True
    return False
is_triplet(13,5,12)

True

In [21]:
is_triplet(3, 4, 5)

True

In [22]:
is_triplet(1, 2, 3)

False

Assignment-25

In [ ]:
Question1
Create a function that takes three integer arguments (a, b, c) and returns the amount of
integers which are of equal value.
Examples
equal(3, 4, 3) ➞ 2
equal(1, 1, 1) ➞ 3
equal(3, 4, 1) ➞ 0
Notes
Your function must return 0, 2 or 3.

In [17]:
def equal(a,b,c):
    if a==b==c:
        return 3
    elif a==b or a==c:
        return 2
    else:
        return 0
equal(3, 4, 3)

2

In [18]:
equal(1, 1, 1)

3

In [19]:
equal(3, 4, 1)

0

In [ ]:
Question2
Write a function that converts a dictionary into a list of keys-values tuples.
Examples
dict_to_list({
"D": 1,
"B": 2,
"C": 3
}) ➞ [("B", 2), ("C", 3), ("D", 1)]
dict_to_list({
"likes": 2,
"dislikes": 3,
"followers": 10
}) ➞ [("dislikes", 3), ("followers", 10), ("likes", 2)]
Notes
Return the elements in the list in alphabetical order.

In [16]:
def dict_to_list(d):
    return sorted(list(d.items()))

In [14]:
dict_to_list({
"D": 1,
"B": 2,
"C": 3
})

[('B', 2), ('C', 3), ('D', 1)]

In [15]:
dict_to_list({
"likes": 2,
"dislikes": 3,
"followers": 10
})

[('dislikes', 3), ('followers', 10), ('likes', 2)]

In [ ]:
Question3
Write a function that creates a dictionary with each (key, value) pair being the (lower case,
upper case) versions of a letter, respectively.
Examples
mapping(["p", "s"]) ➞ { "p": "P", "s": "S" }
mapping(["a", "b", "c"]) ➞ { "a": "A", "b": "B", "c": "C" }
mapping(["a", "v", "y", "z"]) ➞ { "a": "A", "v": "V", "y": "Y", "z": "Z" }
Notes
All of the letters in the input list will always be lowercase.

In [12]:
def mapping(l):
    return {i.lower():i.upper() for i in l}

In [9]:
mapping(["p", "s"])

{'p': 'P', 's': 'S'}

In [10]:
mapping(["a", "b", "c"])

{'a': 'A', 'b': 'B', 'c': 'C'}

In [11]:
mapping(["a", "v", "y", "z"])

{'a': 'A', 'v': 'V', 'y': 'Y', 'z': 'Z'}

In [ ]:
Question4
Write a function, that replaces all vowels in a string with a specified vowel.
Examples
vow_replace("apples and bananas", "u") ➞ "upplus und bununus"
vow_replace("cheese casserole", "o") ➞ "chooso cossorolo"
vow_replace("stuffed jalapeno poppers", "e") ➞ "steffed jelepene peppers"
Notes
All words will be lowercase. Y is not considered a vowel.

In [4]:
def vow_replace(string, spl):
    rep = []
    vowels = 'aeiouAEIOU'
    for i in range(len(string)):
        if string[i] in vowels:
            rep.append(spl)
        else:
            rep.append(string[i])
    return ''.join(rep)

In [5]:
vow_replace("apples and bananas", "u")

'upplus und bununus'

In [6]:
vow_replace("cheese casserole", "o")

'chooso cossorolo'

In [7]:
vow_replace("stuffed jalapeno poppers", "e")

'steffed jelepene peppers'

In [ ]:
Question5
Create a function that takes a string as input and capitalizes a letter if its ASCII code is even
and returns its lower case version if its ASCII code is odd.
Examples
ascii_capitalize("to be or not to be!") ➞ "To Be oR NoT To Be!"
ascii_capitalize("THE LITTLE MERMAID") ➞ "THe LiTTLe meRmaiD"
ascii_capitalize("Oh what a beautiful morning.") ➞ "oH wHaT a BeauTiFuL
moRNiNg."

In [1]:
def ascii_capitalize(string):
    l = []
    for i in range(len(string)):
        if ord(string[i]) % 2 == 0:
            l.append(string[i].upper())
        else:
            l.append(string[i].lower())

    return "".join((l))
ascii_capitalize("to be or not to be!")

'To Be oR NoT To Be!'

In [2]:
ascii_capitalize("THE LITTLE MERMAID")

'THe LiTTLe meRmaiD'

In [3]:
ascii_capitalize("Oh what a beautiful morning.")

'oH wHaT a BeauTiFuL moRNiNg.'